@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

html {
  scroll-behavior: smooth;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  1% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.favicon-spin {
  animation: spin 60s step-end infinite;
}

@keyframes recordSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.record-spin {
  animation: recordSpin 2s ease-out;
}